<div class="container text-center mt-6 mb-6">
  <h1 class="pt-5 pb-2 mt-5" style="color: #03942F; ">About Nanban</h1>
  <p>
    Nanban is a A to Z Student Services Company for Students, Colleges, Decision Makers and Education companies.
    <br>Think
    Education! Think Nanban! <br>
    We are working towards the United Nations SDGs (Sustainable Development Goals) <br> especially SDG 4: Quality
    Education and SDG
    8: Decent Work and Economic Growth

  </p>
</div>


        <div class="flex row s1" >
          <div class="col-md-5 s2" >
            <div>
              <img width="55px" height="51px" src="../assets/images/target.png">
              <h1 style="font-size: 30px;">OUR MISSION</h1>
              <p class="pfont">
                Our goal is to be the World's Largest Marketplace to fulfill all requirements of Students and Colleges
                across the world.
              </p>
            </div>
          </div>

          <div class="col-md-5 s2">
          <div>
            <img width="60px" height="65px" src="../assets/images/rocket.png">
            <h1 style="font-size: 30px;">OUR VISION</h1>
            <p class="pfont">
              Nanban came into existence because we want to solve Education and Employment across the world.
            </p>
          </div>
          </div>
        </div>
        <br><br><br>

<div class="container mt-6 mb-6">
  <div class="row justify-content-center">
    <div class="col-md 12 ">
      <div class="material-border">

        <div id="four">
          <div class="inner">
            <h1 style="font-size: 30px; ">FOR STUDENTS</h1><br>
            <img style="height: 100px; width: 100px; " src="../assets/images/Student.png">
          <br>
          <p class="pfont">
            Students can approach Nanban to solve all their problems. Nanban is a one stop company for all Student
            services. We are
            trying to build and connect India's Largest Student network across 3500+ college campuses.<br> A student can
            approach Nanban
            for services like Scholarships, E-Learning, Skill Development, Loans, Innovation grants, student discounts,
            Internships
            and Placements etc
          </p>
          </div>
          <br><br>
          <div class="inner">
            <h1 style="font-size: 30px;"> FOR COLLEGES</h1>
            <br>
            <img src="../assets/images/institution.png">
            <br>
            <p class="pfont">College Campuses can approach Nanban for services like Lab establishments, Technology development, Campus
              Infrastructure
              Management, Admissions, Funding, Research, Event Management, Resource Management etc. We are trying to
              build and connect
              the India's Largest Student network across 3500+ college campuses which enable us to serve premium
              services at an
              affordable cost.
            </p>
          </div>
          <br><br>
          <div class="inner">
            <h1 style="font-size: 30px;">FOR COMPANIES</h1>
            <br>
            <img src="../assets/images/parents.png">
            <br>
            <p class="pfont">
              Companies who work in the Education domain can approach Nanban to promote their products and services
              across our
              network. We are a A to Z Student services company including E-Learning, Training, Discounts, Research,
              Infrastructure
              Management, Technology services etc. We are trying to build and connect the India's Largest Student
              network across 3500+
              college campuses which will enable us to attain 50% market reach
            </p>
          </div>
        </div>

        <br><br><br>
        <!--*****Statistics Area Starts*******-->
        <section class="section counter-area ptb_50">
          <div class="container">
            <div class="row justify-content-center">
              <div class=" col-md-3 single-counter text-center">
                <div class="counter-inner p-3 p-md-0">
                  <!-- Counter Item -->
                  <div class="counter-item d-inline-block mb-3">
                    <span class="fw-7">50000</span><span class="fw-7">+</span>
                  </div>
                  <h5>Students Impacted</h5>
                </div>
              </div>
              <div class=" col-md-3 single-counter text-center">
                <div class="counter-inner p-3 p-md-0">
                  <!-- Counter Item -->
                  <div class="counter-item d-inline-block mb-3">
                    <span class=" fw-7">500</span><span class="fw-7">+</span>
                  </div>
                  <h5>Colleges</h5>
                </div>
              </div>
              <div class=" col-md-3 single-counter text-center">
                <div class="counter-inner p-3 p-md-0">
                  <!-- Counter Item -->
                  <div class="counter-item d-inline-block mb-3">
                    <span class=" fw-7">100</span><span class="fw-7">+</span>
                  </div>
                  <h5>Service Partners</h5>
                </div>
              </div>
              <div class="col-md-3 single-counter text-center">
                <div class="counter-inner p-3 p-md-0">
                  <!-- Counter Item -->
                  <div class="counter-item d-inline-block mb-3">
                    <span class=" fw-7">1</span><span class="fw-7"></span>
                  </div>
                  <h5>Super Team</h5>
                  <br>
                  <br>
                  <br>

                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
