<div class="container mt-5 mb-5">
    <div class="row pt-5 mt-5 pb-2">
      <div class="col-md-12 over-p-lr">
            <div class="material-border">
                <div class="ml-1 pb-4 row">
                    <div class="col-md-6" style="align-self: center">
                        <h4>We are team Nanban</h4><br>
                        <h4 class="color-333333">Want to talk?<br><br>Do you have any questions?</h4>
                        <br>
                        <h4>Would you like to collaborate?</h4><br>
                        <h5>We would love to talk . Initiate a conversation with our team by contacting Mr.Kannan at {{communityMobile}}
                        </h5>
                    </div>
                    <div class="col-md-6">
                        <img src="assets/icons/logo2.png" class="p8" width="80%" />
                    </div>
        </div>
    </div>
</div>
