<div class="container text-center mt-6 mb-6">
  <h2 class="pt-5 pb-2 mt-5" style="color: #03942F; ">Privacy Policy</h2>
</div>
<div class="container mt-6 mb-6">
  <div class="row justify-content-center">
    <div class="col-md 12 ">
        <div class="material-border">

        <!-- Term and Conditions  Start -->
        <div style="padding: 30px;" >
          <br>
          <p>
          1. Overview of the Privacy Policy:
          The Nanban Tech Ventures Pvt. Ltd. Is the manager, moderator and operator of the website teachaparent.tech and all of its
          versions including mobile and applications. This website policy document clarifies all the issues related to how we will
          use the data and information collected from users. The privacy policy is prepared only for teach a parent and not for
          the websites linked through it. Kindly refer respective documents to get more insights. <br><br>
          2. Privacy of Users below 13 Years of Age:
          The website is not designed to attract the users below 13 years and thus the company do not intends to keep data of the
          users below the specified age. We will delete the information as soon as we find any such kind of information. <br><br>
          3. Cookies and IP Tracking Policy:
          The website also stores data other than the content which provides information on personal identity in the form of IP
          and cookies. It is henceforth comes under the category non personal identifiable data which also includes search
          history, queries submitted, education interests, date and time, domain, advertisement response. The website can also use
          a conversion pixel (a 1px. X 1px. image) to track the user behavior on our leads collection form as it is an intact part
          of our Business. <br><br>
          4. Information Collected by the Website:
          The website also collects and stores the data submitted by users. As we allow users to request data from educational
          institutions listed on the website, so we share the data to respective institutes to fulfill the request and the privacy
          of such kind of data is under the mutual agreement between institutes and users. Means of data collection on Teach A Parent
           Contact Forms: The contact forms on the website are made to simplify the process of data presentation by
          collecting the user interests, educational qualification and age. Login/Signup- By creating a user account visitor
          agrees the terms of conditions of the website and we can use the data collected through our channel in the analysis of
          trends and can also be forwarded to the educational service providers depending upon the usage history. User also agrees
          to receive SMS and Emails containing the information of the college and course he/she applies in and also of related
          colleges and courses. Testimonials: The users providing testimonials are entitled to public display and can also be
          shared with our clients Forums: Views posted on forums and our comment section are sole property of nanbanconnect.com as
          it provides a crucial insight of consumer thought process <br><br>
          5. Opt-in Mails and Other ways to Use data by the Company
          The company can use data collected through the website in various ways a. Opt-in Mails- Company sends customized mails
          on the users opting for newsletters or notification on admission process and entrance tests. Users can anytime
          unsubscribe from the service b. Feedbacks: The Company may contact its visitors or users for feedback on any new feature
          or services. If not interested, users can drop a mail on ramki@nanbanstartuplabs.com. Geographical Data: we use
          geographical or demographical data to provide location wise customized data. d. Cookies and IP data are used to provide
          most relevant results through search <br><br>
          Company Contact:
          Any queries related to Privacy Policy, Please contact on following address: <br><br>


          Nanban Tech Ventures Pvt. Ltd. ,<br> FounderPassion Accelerator <br> Vijaya, 46, Kerala Club Road, Avinashi Rd, Near Anna
          Statue, <br>ATT Colony, Gopalapuram, Coimbatore, Tamil Nadu 641018
         <br><br> Or Send a Mail at ramki@nanbanstartuplabs.com</p>

      </div>

              </div>
          </div>
      </div>
      </div>





