
<div class="container text-center mt-6 mb-6">
  <h2 class="pt-5 pb-2 mt-5" style="color: #03942F;">Nanban Brands</h2>
</div>


      <div class="material-border">


<!-- Brands Area Starts -->
<div id="five">
  <div class="brand">
    <img class="si" src="../../assets/images/nanban-01.png">

    <br>
    <p class="pfont">
      <strong>Nanban Tech Ventures Pvt Ltd</strong>
      - Parent Company which encompasses all our other brands. We are trying to solve Education.

    </p>
  </div>
  <div class="brand">

    <img class="si" src="../../assets/images/startup l-01.png">

    <p class="pfont">
      <strong>Nanban Startup Labs</strong>
      -
      A brand which helps educational institutions to establish Labs and Centre of excellence.

    </p>
  </div>
  <div class="brand">

    <img class="si" src="../../assets/images/media-01.png">

    <p class="pfont">
      <strong>Nanban Media</strong>
      -
      An exclusive platform to share Student News and Entrepreneurial News run by students.

    </p>
  </div>
  <div class="brand">

    <img class="si" src="../../assets/images/techhh-01.png">

    <p class="pfont">
      <strong>Tech Nanban</strong>
      -
      A vernacular Youtube Channel by students where we share content on How?Why?What?

    </p>
  </div>
  <div class="brand">

    <img class="si" src="../../assets/images/foundation-01.png">

    <p class="pfont">
      <strong>Nanban Foundation</strong>
      -
      An organization for Animal Care run by student volunteers.

    </p>
  </div>
  <div class="brand">

    <img class="si" src="../../assets/images/connect-01.png">

    <p class="pfont">
      <strong>Nanban Connect</strong> -
      Building and Connecting India's Largest Student Network

    </p>
  </div>
</div>


<!-- Brands area End -->
</div>
